
body{background: linear-gradient(white, rgba(116, 53, 53, 0.145));
 
  background-attachment: fixed;
  
}

#zbugund{
 max-width: 100%;


}
#column{
  position: absolute;
  padding: 4px;
  margin: 0 auto;
  width: 33rem;
  margin-top: 0px;
  padding-top: 0px;
  
  height: 444rem;
  left: 33%;
  
}
#column >p {
  background: linear-gradient(rgba(191, 235, 204, 0.953),rgba(246, 144, 144, 0.496));
  box-shadow: rgba(190, 70, 15, 0.243) 0px 10px 40px 0px, rgb(255, 4, 4) 0px 0px 0px 1px;
  
  text-shadow: 1px 1px 5px  rgba(217, 148, 45,0.5) ;
 font-size: 2rem;
 text-align: left;
    color: rgb(0, 0, 0);
  
    position: relative;
  
  
  
}
#zakoupit{
  padding: 5px;
 
  background-color: rgb(74, 74, 169);
  box-shadow: rgba(190, 70, 15, 0.243) 0px 10px 40px 0px, rgb(255, 4, 4) 0px 0px 0px 1px;
 position: fixed;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 66%;
  top:2.5rem;

}
a{
  font-size: 2em;
  color: rgba(255, 255, 255, 0.984);
}

#sizer{
  

  position: absolute;
  width: 50rem;
  height: 50rem;
}

#bg{
  
  position: fixed;


  
  right: 0;
  top: 0;

 
}
